<div class="chart-container" *ngIf="chartB64">
  <div class="chart-toolbar">
    <span class="chart-title">{{ title }}</span>
    <div class="chart-actions">
      <button mat-icon-button matTooltip="Ver en pantalla completa" (click)="openFull()">
        <mat-icon>open_in_full</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Exportar como PNG" (click)="download()">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="download()">
        <mat-icon>download</mat-icon>
        Exportar PNG
      </button>
    </div>
  </div>
  <div class="chart-body">
    <img [src]="imgSrc" [alt]="title" class="chart-img">
  </div>
</div>
